
<div class="card">
<img class="card-img-top" src="/img/wedding-main-212.jpg" alt="Card image cap">
<div class="card-body">
  <h6 class="card-title">For a free quote contact us and we’ll get <br />back to you straight away.</h6>
  <p class="card-text">
    <address>
        T: {{ $.Site.Params.phone }} <br />
        E: {{ $.Site.Params.email }}
        </address>
  </p>
</div>
</div>